@model BloomSoft_V2.Models.Edicion
@{
    ViewBag.Title = "MuestraRequerimiento";

}

<h2>MuestraRequerimiento</h2>

<p>
    @Html.ActionLink("CreaRequerimiento", "CreaRequerimiento")
</p>
<table class="table">
    <tr>
        <th>Proyecto</th>
        <th>Descripcion</th>
        <th></th>
    </tr>

    @foreach (var item in Model.requerimientoModels)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Proyecto.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_requerimiento })               
            </td>
        </tr>
    }

</table>
