body {
    margin-top: 80px;
}

.glyphicon {
    margin-right: 10px;
}

.panel-body {
    padding: 0px;
}

    .panel-body table tr td {
        padding-left: 15px
    }

    .panel-body .table {
        margin-bottom: 0px;
    }

.well {
    background-color: white;
}

.imagen a {
    display: block;
    background: url('../Imagenes/ConocimientoHov.png');
}

.imagen a:hover img {
    visibility:hidden;
   
}

.RightArrow:hover {
    background-image: url('../Imagenes/ConocimientoHov.png') !important;
}