@{
    ViewBag.Title = "Error de inicio de sesión";
}

<!--vista mostrada si hay un error en el inicio de sesion con cuentas externas |DESHABILITADA|-->

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">El inicio de sesión con el servicio no se ha llevado a cabo correctamente.</h3>
</hgroup>
