@model BloomSoft_V2.Models.Proyecto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>Te haz unido exitosamente al proyecto @Model.nombre</h3>
        <a class="btn btn-primary" href="/Home/Menu">Aceptar</a>
    </div>
</body>
</html>
