@{
    ViewBag.Title = "Sobre Nosotros";
}
<h2>@ViewBag.Title.</h2>

<div style="width:315px; height:104px; text-align:center">
    <img src="~/Content/imagenes/bloomlogo.jpg" alt="BloomSoft Planning">
</div>

<div>
    <h4 style="text-align:justify">En la búsqueda de ayudar a mitigar el problema de determinar la
    complejidad de un requerimiento de software, en 2017 presentamos
    una propuesta de clasificación de la complejidad de los requerimientos
    basada en la Taxonomia de Bloom la cual fue aceptada en la 4ta conferencia anual de Conf. on Computational Science & Computational Intelligence, en las Vegas, Nevada, US. Con base en ese trabajo nos damos cuenta que podemos disminuir el tiempo de análisis de complejidad de los requerimientos usando nuestra técnica y pensando en poder llevar esta actividad para analizar entre todo el equipo de desarrollo todos los
    requerimientos, surge la idea de crear un juego basado en nuestra taxonomia BloomSosft y como este juego contribuye a la planeación de las
    actividades que hay que hacer por requerimiento le llamados BloomSoft Plannig.</h4>
</div>

<div style="width:600px; height:400px; margin-left:25%">
    <img src="~/Content/imagenes/img4.jpg" alt="BloomSoft">
</div>