@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    UASLP, Facultad de Ingeniería<br />
    Av. Dr. Manuel Nava 304, Zona Universitaria, 78210 San Luis, S.L.P.<br />
</address>

<address>
    <strong>Soporte y contacto:</strong>   <a href="mailto:edgarcastillobarrera@gmail.com">edgarcastillobarrera@gmail.com</a><br />
</address>